<p style="color: red;
          border: 1px solid red;
          border-radius: 0.2rem;
          display: inline-block;
          padding: 4px 8px;
          font-weight: 600;
          background-color: white;
          box-shadow: 2px 2px 5px -1px var(--sq-light-blue-gray);">
    <span class="oi oi-circle-x" style=""></span>
    <span>@_renderedErrorMessage</span>
</p>

@code {
    private const string DEFAULT_ERROR_MESSAGE = "An error occured. Please try reloading the page.";

    private string _renderedErrorMessage;

    [Parameter]
    public string? ErrorMessage { get; set; }

    public ErrorMessageBanner()
    {
        _renderedErrorMessage = DEFAULT_ERROR_MESSAGE;
    }

    protected override void OnParametersSet()
    {
        if (ErrorMessage?.Equals(_renderedErrorMessage) is true)
            return;

        _renderedErrorMessage = ErrorMessage ?? DEFAULT_ERROR_MESSAGE;
        StateHasChanged();
    }

}
