@page "/testairvehiclereport"

@using squittal.ScrimPlanetmans.App.Pages.Shared;
@using squittal.ScrimPlanetmans.App.Models

<div class="container-fluid">

    <p><MatchTimer /></p>

    <div class="row">

        <div class="col-lg-12">
            <Test_TeamAllAirVehicleData i_teamOrdinal="TeamDefinition.Team1" />

        </div>

        <div class="col-lg-12">
            <Test_TeamAllAirVehicleData i_teamOrdinal="TeamDefinition.Team2" />
        </div>
    </div>
</div>

